# Set the default behavior, for new files, to automatically handle line endings.
* text=auto

# Explicitly declare text files you want to always have normalized LF line endings.
*.css text eol=lf
*.js text eol=lf
*.html text eol=lf
*.php text eol=lfgit add .gitattributes