# Set the default behavior for new files to automatically handle line endings
* text=auto

# Declare text files to always use LF line endings (for Unix-based systems)
*.php text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Treat picture formats as binary to avoid any line-ending conversions
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.bmp binary
*.svg binary

# Set specific behavior for Windows users (convert LF to CRLF)
*.bat text eol=crlf
*.ps1 text eol=crlf

# Prevent normalization for all binary formats
*.zip binary
*.exe binary
*.dll binary
*.woff binary
*.woff2 binary
*.ttf binary
